/* components/ImageCard.module.css */
.imageCard {
    position: relative;
    width: 600px; /* Set your desired width */
    height: 400px; /* Set your desired height */
    overflow: hidden;
   
  }
  
  .backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .textContainer {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    
    color: white;
    padding: 10px;
   
    z-index: 1; /* Place the text above the image */
  }
  
  .cardText {
    margin: 0;
  }
  