.card {
    width: 16rem;
    height: 11rem;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #eaea16;
    transition: background-color 0.3s ease-in-out;
    position: relative; 
    margin:50px; 
    display: flex; /* Use flexbox to center content vertically and horizontally */
    flex-direction: column; /* Stack content vertically */
   
  }